---
import ProjectCard from '../components/ProjectCard.astro';

const projects = [
  {
    title: "HTML/CSS - Booki",
    description: "développement web front-end, j'ai créé un site web statique pour Booki, une projet d'entreprise de voyage fictive.",
    link: "https://exemple.com/dashboard",
    github: "https://github.com/anaelpenchenat/booki-starter-code",
    image: "/booki.png",
  },
  {
    title: "Architecture - Sophie Bluel",
    description: "Intégrateur web, un projet d'architecture fictif, j'ai conçu un site web statique pour Sophie Bluel, une architecte fictive.",
    link: "https://exemple.com/mobile-app",
    github: "https://github.com/anaelpenchenat/Portfolio-architecte-sophie-bluel",
    image: "/sophie-bluel.jpg",
  },
  {
    title: "SEO - Nina Carducci",
    description: "Optimisation SEO, j'ai réalisé un audit SEO et mis en place des recommandations pour améliorer la visibilité du site de Nina Carducci, une artiste fictive.",
    link: "https://exemple.com/ecommerce",
    github: "https://github.com/anaelpenchenat/nina-carducci.github.io",
    image: "/nina.webp",
  },
    {
    title: "React - Kasa",
    description: "Développement d'une application web avec React, j'ai créé une application de gestion de logements pour Kasa, une entreprise fictive de location.",
    link: "https://exemple.com/ecommerce",
    github: "https://github.com/anaelpenchenat/kasa-refonte",
    image: "/kasa.webp",
  },
  {
    title: "Node.js - Mon vieux grimoire",
    description: "Développement d'une API RESTful avec Node.js, j'ai créé une API pour gérer les livres d'un grimoire fictif.",
    link: "https://exemple.com/ecommerce",
    github: "https://github.com/anaelpenchenat/upgraded-mon-vieux-grimoire",
    image: "/mon-vieux-grimoire.webp",
  },
  {
    title: "Mon portfolio Astro et Tailwind CSS",
    description: "Création de mon portfolio personnel, j'ai conçu et développé un site web pour présenter mes compétences et projets.",
    link: "https://exemple.com/ecommerce",
    github: "https://github.com/anaelpenchenat/portfolio-anael-astro",
    image: "/mon-portf.png",
  },
];
---

<section id="projects" class="max-w-3xl">
  <h2 class="text-2xl font-semibold mb-6">Projets récents</h2>
  <div class="grid md:grid-cols-2 gap-6">
    {projects.map(project => (
      <ProjectCard 
        title={project.title}
        description={project.description}
        // link={project.link}
        github={project.github}
        image={project.image}
      />
    ))}
  </div>
</section>
